## Deliverable 2. Create a Customer Travel Destinations Map.

In [43]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
import sys
sys.path.append('..')
import Config

from Config import g_key
import gmaps.datasets

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [40]:
! pwd && ls -al ../Weather_Database

/Users/elfreda/Desktop/Analysis_Projects/World_Weather_Analysis/Vacation_Search
total 104
drwxr-xr-x   4 elfreda  staff    128 11 Aug 05:29 .
drwxr-xr-x  19 elfreda  staff    608 11 Aug 19:31 ..
-rw-r--r--@  1 elfreda  staff   6148 11 Aug 05:29 .DS_Store
-rw-r--r--@  1 elfreda  staff  43101 11 Aug 11:33 WeatherPy_Database.csv

In [3]:
# 1. Import the WeatherPy_database.csv file. 

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Quatre Cocos,MU,-20.2078,57.7625,70.09,68,58,22.46,broken clouds
1,1,Fershampenuaz,RU,53.5202,59.8117,70.47,63,74,4.85,broken clouds
2,2,Bluff,NZ,-46.6000,168.3333,44.80,66,99,9.80,overcast clouds
3,3,Hobart,AU,-42.8794,147.3294,44.46,76,100,9.22,overcast clouds
4,4,Atuona,PF,-9.8000,-139.0333,77.27,77,41,22.41,light rain
5,5,Butaritari,KI,3.0707,172.7902,81.18,79,98,14.61,light rain
6,6,Borovichi,RU,58.3878,33.9155,70.84,44,48,4.23,scattered clouds
7,7,Punta Arenas,CL,-53.1500,-70.9167,42.91,81,0,14.97,clear sky
8,8,Tuktoyaktuk,CA,69.4541,-133.0374,41.23,94,100,17.18,light rain
9,9,Katsuura,JP,35.1333,140.3000,80.13,90,97,13.98,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Quatre Cocos,MU,-20.2078,57.7625,70.09,68,58,22.46,broken clouds
1,1,Fershampenuaz,RU,53.5202,59.8117,70.47,63,74,4.85,broken clouds
4,4,Atuona,PF,-9.8000,-139.0333,77.27,77,41,22.41,light rain
6,6,Borovichi,RU,58.3878,33.9155,70.84,44,48,4.23,scattered clouds
11,11,Rikitea,PF,-23.1203,-134.9692,73.04,79,99,22.19,light rain
16,16,Mae Ramat,TH,16.9840,98.5166,78.80,99,100,2.62,overcast clouds
18,18,Sorong,ID,-0.8833,131.2500,78.89,85,88,4.50,overcast clouds
21,21,Broome,US,42.2506,-75.8330,74.01,71,100,6.91,overcast clouds
22,22,Albany,US,42.6001,-73.9662,73.67,73,60,5.75,broken clouds
24,24,Meadow Lake,US,34.8014,-106.5436,77.68,66,11,2.10,few clouds

In [6]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.count()

City_ID                191
City                   191
Country                191
Lat                    191
Lng                    191
Max Temp               191
Humidity               191
Cloudiness             191
Wind Speed             191
Current Description    191
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# no empty rows

In [ ]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [44]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [11]:
# showing hotel_df
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Quatre Cocos,MU,70.09,broken clouds,-20.2078,57.7625,Sunrise Attitude Hotel
1,Fershampenuaz,RU,70.47,broken clouds,53.5202,59.8117,
4,Atuona,PF,77.27,light rain,-9.8000,-139.0333,Villa Enata
6,Borovichi,RU,70.84,scattered clouds,58.3878,33.9155,Gostinitsa Vintazh
11,Rikitea,PF,73.04,light rain,-23.1203,-134.9692,People ThankYou
16,Mae Ramat,TH,78.80,overcast clouds,16.9840,98.5166,บ้านโฮ่งโฮมสเตย์ แม่ระมาด ตาก
18,Sorong,ID,78.89,overcast clouds,-0.8833,131.2500,Waigo Splash Hotel
21,Broome,US,74.01,overcast clouds,42.2506,-75.8330,Chenango Valley State Park
22,Albany,US,73.67,broken clouds,42.6001,-73.9662,
24,Meadow Lake,US,77.68,few clouds,34.8014,-106.5436,TumbleWeed RV Park

In [12]:
# 7. Drop the rows where there is no Hotel Name

clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"]!=""]

In [13]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Quatre Cocos,MU,70.09,broken clouds,-20.2078,57.7625,Sunrise Attitude Hotel
4,Atuona,PF,77.27,light rain,-9.8000,-139.0333,Villa Enata
6,Borovichi,RU,70.84,scattered clouds,58.3878,33.9155,Gostinitsa Vintazh
11,Rikitea,PF,73.04,light rain,-23.1203,-134.9692,People ThankYou
16,Mae Ramat,TH,78.80,overcast clouds,16.9840,98.5166,บ้านโฮ่งโฮมสเตย์ แม่ระมาด ตาก
...,...,...,...,...,...,...,...
664,Luorong,CN,79.83,overcast clouds,24.4058,109.6086,荣立大酒店
669,Aragarcas,BR,75.85,clear sky,-15.8975,-52.2508,Pousada Tropical
679,Anloga,GH,77.13,scattered clouds,5.7947,0.8973,Pin Drop Hotel
682,Hibbing,US,70.57,clear sky,47.4272,-92.9377,Mitchell-Tappan House - Carriage House Rentals
683,Llanes,ES,78.33,overcast clouds,43.4198,-4.7549,Hotel La Paz

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [45]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))